<div class="container">

  <h1>Brannden's Second Kitchen Demo</h1>
  <p>The attributes function is strange</p>
  <p>This Kitchen is based off the second Branch "test-kitchen"</p>
  <p> Other stretch goal:</p>
  <p>force instance name based off suite name</p>

</div>
