<div class="container">

  <h1>Brannden's Demo Home</h1>
  <p>It worked, after a lot of work</p>
  <p> I was also delayed, becuase I wanted to update my ls color attribute </p>
  <p> Here's what I have in my ~/.bashrc: </p>
  <p>export LSCOLORS="gxfxcxdxBxegecabagacad"</p>
  <p>alias ls='ls -G'</p>
  <p> This is my reference page: https://apple.stackexchange.com/questions/282185/how-do-i-get-different-colors-for-directories-etc-in-iterm2 </p>

  
</div>
